
.header .container .nav-links li:nth-child(3) a{
    color: #4e6bff;
}

.header .container .sign a {
    color: var(--section-color-1);
}
.header .container .sign a:hover{
    color: #4e6bff !important;
}
body .header.add {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px 0px;
}
/* ! Start Sign-in */
.error{
    position: relative;
    padding: 200px 0px 100px;
    background-color: var(--background-color2);
}
.error .shape-1{
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #ffdd0f;
    left: 30px;
    top: 300px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.error .shape-2{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #f36a8d;
    bottom: 100px;
    right: 30px;
    border-top-right-radius: 100px ;
    border-top-left-radius: 100px ;
}
.error .shape-3{
position: absolute;
width: 100px;
top: 50%;
right: 150px;
}
@media (max-width:991px){
    .error .shape-3{
        display: none;
    }
}
.error .container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.error .container .card{
    max-width: 550px;
    position: relative;
}
.error .container .card h1{
    font-size: 200px;
    margin: 0;
    margin-bottom: 20px;
    color: #4e6bff;
}
.error .container .card h5{
    font-size: 36px;
    color: var(--section-color-1);
    margin-bottom: 20px;

}
.error .container .card p{
    font-size: 18px;
    line-height: 30px;
    word-spacing: 3px;
    color: var(--section-color-2);
    margin-bottom: 40px;

}
.error .container .card a{
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #4e6bff;
    color: #fff;
    border-radius: 100px;
    transition: var(--main-transition);
}
.error .container .card a:hover{
    box-shadow: 0px 5px 12px 0px #4e6bff;
}