.header .container .nav-links li:nth-child(3) a{
    color: #4e6bff;
}
.header .container .sign a {
    color: var(--section-color-1);
}
.header .container .sign a:hover{
    color: #4e6bff !important;
}
body .header.add {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px 0px;
}
.header .container .sign a{
    display: none;
}
.header .container .f-drop-sign{
    display: none !important;
}
/* ! Start profile */
.profile{
    position: relative;
    padding: 200px 0px 100px;
    background-color: var(--background-color2);
}
.profile .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile .settings{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
}
/* ? header-settings*/
.profile .settings .header-settings{
    flex-basis: 25%;
    border-right: 5px solid var(--background-color2);
}
.profile .settings .header-settings .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.profile .settings .header-settings .icon .upload{
    width: 100px;
    position: relative;
}
.profile .settings .header-settings .icon .upload img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--background-color2);
    object-fit: cover;
}
.profile .settings .header-settings .icon .upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--background-color2);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;

}
.profile .settings .header-settings .icon .upload .round input[type='file']{
    position: absolute;
    transform: scale(2);
    opacity: 0;
    cursor: pointer;
}

.profile .settings .header-settings .icon .upload .round i{
    color: var(--section-color-1);
    transition: var(--main-transition);
}
.profile .settings .header-settings .icon .upload .round:hover i{
    color: var(--section-color-2);
}

.profile .settings .header-settings .icon h3{
    color: var(--section-color-1);
    margin: 10px;
}
.profile .settings .header-settings .links-settings{
    display: flex;
    flex-direction: column;
}
.profile .settings .header-settings .links-settings li{

}
.profile .settings .header-settings .links-settings li:first-child{
border-top: 2px solid var(--background-color2);
}
.profile .settings .header-settings .links-settings li a{
    color: var(--section-color-2);

    padding: 20px;
    display: block;
    border: 2px solid var(--background-color2);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile .settings .header-settings .links-settings li a.active{
    background-color: #4e6bff;
    color: #fff;
}








@media (max-width:768px){
    .profile .settings .header-settings{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .profile .settings .header-settings .links-settings li a span{
        display: none;
    }
    .profile .settings .header-settings .icon .upload{
        width: 45px;
    }
    .profile .settings .header-settings .icon .upload img{
        width: 45px;
        height: 45px;
        border: 2px solid var(--background-color2);
    }
    .profile .settings .header-settings .icon .upload .round{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .profile .settings .header-settings .icon h3{
        font-size: 8px;
        margin: 10px 0;
    }
    .profile .settings .header-settings{
        flex-basis: 0;
    }
}
@media (max-width:576px){

}





























/* ? end header-settings*/
/* ? start body-settings */
.profile .settings .body-settings{
    flex-basis: 75%;
    margin: 0 20px;
}
.profile .settings .body-settings h3{
    padding: 30px 20px 20px ;
    color: var(--section-color-1);
    font-size: 30px;
}
.profile .settings .body-settings form{
    display: flex;
    flex-direction: column;
}
.profile .settings .body-settings form .box1{
    display: flex;
    
    align-items: center;
    gap: 20px;
}




/* ! */

.profile .settings .body-settings form .box1 .input-field{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 20px 5px;
}
.profile .settings .body-settings form .box1 .input-field label{
    font-size: 18px;
    color: var(--section-color-2);
    
}
.profile .settings .body-settings form .box1 .input-field input{
    padding: 20px;
    border: var(--section-color-2) 1px solid;
    border-radius: 5px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--section-color-2);
    font-size: 20px;
    position: relative;
}

.profile .settings .body-settings form .box1 .create-password,
.profile .settings .body-settings form .box1 .confirm-password
{
    flex-basis: 50%;
    
}
.profile .settings .body-settings form .box1 .old-password
{
    flex-basis: 49%;
    
}




.invalid input {
    border-color: #d93025;
}


.profile .settings .body-settings form .box1 .show-hide {
    position: absolute;
    right: 30px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}
.profile .settings .body-settings form .box1 .error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
    max-width: 80%;
   display: none;
}
.invalid .error {
    display: flex !important;
  }
  .error .error-icon {
    margin-right: 6px;
    font-size: 15px;
  }
  .create-password .error {
    align-items: flex-start;
  }
  .create-password .error-icon {
    margin-top: 4px;
  }

  



.p-none{
    opacity: 0;
}

@media (max-width:992px){
    .profile .settings .body-settings form .box1{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .profile .settings .body-settings form .box1 .create-password,
    .profile .settings .body-settings form .box1 .confirm-password,
    .profile .settings .body-settings form .box1 .old-password{
    width: 100%;
    }
    .profile .settings .body-settings h3{
        padding: 20px 0px  ;
    }
    .profile .settings .body-settings form .box1 .error {
        font-size: 13px;
        margin-left: 0px;
        align-items: flex-start;
    }
    .profile .settings .body-settings form .box1:first-child .error {
        align-items: flex-end;
        
    }
    .profile .settings .body-settings form .box1 .input-field{
        padding: 20px 0px 10px;
    }
    .p-none{
        display: none;
    }
}

/* box-1 */
.profile .settings .body-settings form .box3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
    margin-bottom: 20px;
    
}
.profile .settings .body-settings form .box3 input[type=submit],
.profile .settings .body-settings form .box3 .cancel{
    background-color: #4070F4;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    transition: var(--main-transition);
    cursor: pointer;
}
.profile .settings .body-settings form .box3 .cancel{
    background-color: var(--background-color);
    border: #4070F4 1px solid;
    color: var(--section-color-1);

}
.profile .settings .body-settings form .box3 input[type=submit]:hover{
    background-color: #28a745;
}
.profile .settings .body-settings form .box3 .cancel:hover{
    background-color: #dc3545;
    border: transparent;
    color: #fff;
}
/* ? form */

/* ? end body-settings */
/* ! End profile */